#sa-main .sa-sidebar .sidebar-item.sa-candid-career-widget{border:0;padding:0}#sa-main .sa-sidebar .sidebar-item.sa-candid-career-widget .candid-career-iframe{width:150px;height:400px;display:block;margin:0 auto}
