// Make sure the charset is set appropriately
@charset "UTF-8";

// Include the framework settings
//@import "../../../themes/student-affairs-framework/scss/_sa-framework-settings";

// Include the framework mixins
//@import "../../../themes/student-affairs-framework/scss/_sa-framework-mixins";

#sa-main {

	.sa-sidebar {

		.sidebar-item {

			&.sa-candid-career-widget {
				border: 0;
				padding: 0;

				.candid-career-iframe {
					width:150px;
					height:400px;
					display: block;
					margin: 0 auto;
				}

			}

		}

	}

}